<div class="w-100 h-100 overflow-y-hidden overflow-x-auto relative">
  <table cellspacing="0" class="collapse w-100" style="min-width: 100%; max-width: none">
    <thead class="db bb b--black-20">
      <tr class="flex row content-center nowrap pr3 gray">
        <th class="w-100 ph2 h2 tl fw6 f6 truncate flex items-center ls-type"></th>
        <th class="w-100 ph2 h2 tl fw6 f6 truncate flex items-center ls-fmw">Name</th>
        <th class="w-100 ph2 h2 tl fw6 f6 truncate flex items-center ls-fmw">Email</th>
        <th class="w-100 ph2 h2 tl fw6 f6 truncate flex items-center ls-fmw">Phone</th>
        <th class="w-100 ph2 h2 tl fw6 f6 truncate flex items-center ls-gender">Gender</th>
      </tr>
    </thead>
    <!-- calc:(screen - header - table header) -->
    <tbody
      class="lh-copy db overflow-x-hidden"
      style="height: calc(100vh - 64px - 32px)"
      infinite-scroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="300"
      [scrollWindow]="false"
      (scrolled)="onScrollDown()"
    >
      <tr
        #contactList
        *ngFor="let contact of contacts"
        class="flex row nowrap pointer hover-bg-near-white"
        (click)="log(contact)"
      >
        <td
          class="w-100 pv2 ph2 bb b--black-10 truncate ls-type"
          [ngClass]="{
          'green': contact.status === contactStatus.OK,
          'light-gray': contact.status === contactStatus.INVALID,
          'yellow': contact.status === contactStatus.DO_NOT_EMAIL,
          'gold': contact.status === contactStatus.DO_NOT_CALL,
          'dark-red': contact.status === contactStatus.DO_NOT_CONTACT
          }"
        >
          <i class="mdi" [ngClass]="{
            'mdi-domain': contact.contactType === contactType.COMPANY,
            'mdi-account': contact.contactType === contactType.PERSON
          }"></i>
        </td>
        <td class="w-100 pv2 ph2 bb b--black-10 truncate navy ls-fmw">{{ contact.displayName }}</td>
        <td class="w-100 pv2 ph2 bb b--black-10 truncate ls-fmw">
          <a class="navy no-underline underline-hover pointer" href="mailto:{{ contact.emails | email }}">{{ contact.emails | email }}</a>
        </td>
        <td class="w-100 pv2 ph2 bb b--black-10 truncate navy ls-fmw">
          <a class="navy no-underline underline-hover pointer" href="{{ contact.phoneNumbers | phone }}">{{ contact.phoneNumbers | phone }}</a>
        </td>
        <td class="w-100 pv2 ph2 bb b--black-10 truncate gray ls-gender">
          <i class="mdi" [ngClass]="{
            'mdi-gender-female': contact.gender === gender.MALE,
            'mdi-gender-male': contact.gender === gender.FEMALE,
            'mdi-robot': contact.gender === gender.OTHER,
            'mdi-help': contact.gender === gender.UNKNOWN
            }"></i>
          <span class="ma0 f6 fw6">{{ contact.gender && contact.gender[0] }}</span>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="absolute absolute--fill flex flex-columns justify-center items-center" style="z-index: -5">
    <div *ngIf="loading && contactCount === 0" class="sk-chasing-dots">
      <div class="sk-child sk-dot1 bg-blue"></div>
      <div class="sk-child sk-dot2 bg-blue"></div>
    </div>
    <h2 *ngIf="!loading && contactCount === 0" class="f2 lh-copy fw6 light-silver">No Contacts</h2>
    <div *ngIf="loading && contactCount > 0" class="self-end z-max mb3 sk-three-bounce flex justify-center">
      <div class="sk-child z-max sk-bounce1 bg-blue"></div>
      <div class="sk-child z-max sk-bounce2 bg-blue"></div>
      <div class="sk-child z-max sk-bounce3 bg-blue"></div>
    </div>
  </div>
</div>
