<div class="w-100 h-100 overflow-y-hidden overflow-x-auto">
  <table cellspacing="0" class="collapse w-100" style="min-width: 100%; max-width: none">
    <thead class="db bb b--black-20">
      <tr class="flex row content-center nowrap pr3 gray">
        <th class="w-100 ph2 h2 tl fw6 f6 truncate flex items-center ls-fmw">Name</th>
        <th class="w-100 ph2 h2 tl fw6 f6 truncate flex items-center ls-fmw">Email</th>
        <th class="w-100 ph2 h2 tl fw6 f6 truncate flex items-center ls-fmw">Phone</th>
        <th class="w-100 ph2 h2 tl fw6 f6 truncate flex items-center ls-fmw">Gender</th>
      </tr>
    </thead>
    <!-- calc:(screen - header - table header) -->
    <tbody class="lh-copy db overflow-y-auto overflow-x-hidden" style="height: calc(100vh - 64px - 32px)">
      <tr *ngFor="let contact of contacts" class="flex row nowrap">
        <td class="w-100 pv2 ph2 bb b--black-10 truncate ls-fmw">{{ contact.first_name }} {{ contact.last_name }}</td>
        <td class="w-100 pv2 ph2 bb b--black-10 truncate ls-fmw">{{ contact.email }}</td>
        <td class="w-100 pv2 ph2 bb b--black-10 truncate ls-fmw">{{ contact.phone }}</td>
        <td class="w-100 pv2 ph2 bb b--black-10 truncate ls-fmw">
          {{ contact.gender }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
