<div class="vh-100 flex flex-column overflow-hidden">
  <ls-header title="Dashboard"></ls-header>
  <div class="flex flex-row flex-auto">
    <aside class="flex w3 flex-column justify-between bg-near-white" style="flex-shrink: 0">
      <div class="bb b--light-gray">
        <a class="h3 no-underline flex flex-column items-center justify-center gray hover-blue hover-bg-light-gray"
           routerLink="/dashboard"
           routerLinkActive="blue"
           [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="mdi mdi-view-dashboard f3"></i>
          <p class="ma0 pt1 lh-copy fw6" style="font-size: .7em">Dashboard</p>
        </a>
      </div>
      <div class="bb b--light-gray">
        <a class="h3 no-underline flex flex-column items-center justify-center gray hover-blue hover-bg-light-gray"
           routerLink="/dashboard/contacts"
           routerLinkActive="blue"
        >
          <i class="mdi mdi-contacts f3"></i>
          <p class="ma0 pt1 lh-copy fw6" style="font-size: .7em">Contacts</p>
        </a>
      </div>
      <div class="bt b--light-gray" style="margin-top: auto">
        <a class="h3 no-underline flex flex-column items-center justify-center gray hover-dark-red hover-bg-light-gray"
           routerLink="/logout">
          <i class="mdi mdi-exit-to-app f3"></i>
          <p class="ma0 pt1 lh-copy fw6" style="font-size: .7em">Sign out</p>
        </a>
      </div>
    </aside>
    <div class="overflow-auto flex-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
